{% extends 'base.html.twig' %}

{% block title %}Modifier un jeu{% endblock %}

{% block body %}
    <h1>Modifier un jeu</h1>

    {{ include('board_game/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
