{% extends 'base.html.twig' %}

{% block title %}Modifier un jeu{% endblock %}

{% block body %}
    <h1>Modifier un jeu</h1>

    {{ include('board_game/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('home') }}">back to list</a>

    {{ include('board_game/_delete_form.html.twig') }}
{% endblock %}
