{% extends 'base.html.twig' %}

{% block title %}Jeux de société{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        {% for board_game in board_games %}
            {% include 'board_game/board_game.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
<script>

$('[class="wish"]').click(function(e){
    e.preventDefault();
    const url = this.href;
    const fa = this.querySelector("i")

    $.ajax({
        url : url,
        type : "POST",
        success : function (response) {
            if(response.wish == true){
                fa.classList.replace('fa-regular','fa-solid')
            }
            if(response.wish == false){
                fa.classList.replace('fa-solid','fa-regular')
            }
        }
    });
});
</script>
{% endblock %}