{% extends 'base.html.twig' %}

{% block title %}Jeux de société{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        {% for board_game in board_games %}
            {% include 'board_game/board_game.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
<script>

$('[id*=board_header]').on("click", "[class='wish']", function(e){
    e.preventDefault();
    const url = this.href;
    const fa = this.querySelector("i")

    $.ajax({
        url : url,
        type : "POST",
        success : function (response) {
            if(response.wish == true){
                fa.classList.replace('fa-regular','fa-solid')
            }
            if(response.wish == false){
                fa.classList.replace('fa-solid','fa-regular')
            }
        }
    });
});


$('[id*=board_header]').on("click", "[class='own']", function(e){
    e.preventDefault();
    const url = this.href;
    const ribbon_own = this.parentElement
    const icon_own = this.querySelector("i")
    const ribbon_wish = ribbon_own.parentElement.querySelector("div.ribbon_wish")

    $.ajax({
        url : url,
        type : "POST",
        success : function (response) {
            if(response.own == true){
                ribbon_wish.remove()
                ribbon_own.classList.replace('ribbon_own','ribbon_wish')
                icon_own.classList.replace('far','fas')
            }
            if(response.own == false){
                ribbon_own.classList.replace('ribbon_wish','ribbon_own')
                icon_own.classList.replace('fas','far')
                var route = "{{ path('board_game_wish', {'id': 'board_game_id'}) }}"; 
                route = route.replace("board_game_id", JSON.parse(response.board_game).id);
                ribbon_own.parentElement.innerHTML += `<div class="ribbon_wish">
                    <a class="wish" href="` + route + `">
                        <div class="content" title="Supprimer de votre collection ?"><i class="fa-regular fa-heart"></i></div>
                    </a>
                </div>`
            }
        }
    });
});
</script>
{% endblock %}