{% extends 'base.html.twig' %}

{% block title %}Ajout d'un jeu de société{% endblock %}

{% block body %}
    <h1>Ajout d'un jeu de société</h1>

    {{ include('board_game/_form.html.twig') }}

    <a href="{{ path('home') }}">back to list</a>
{% endblock %}
