body {
    background-color: #e7e7e7;
}

@font-face {
    font-family: "Folkard";
    src: url("../font/folkard_.ttf") format("truetype");
}

.width_80 {
    width: 80%;
}

header {
    padding: 10px;
    background-color: #e60012;
    color: #ffffff;
}

#title {
    font-family: "Folkard";
    text-align: center;
    padding: 12px;
    font-size: 45px;
    line-height: 25px;
    color: #ffffff;
}

header>a,
header>a:hover,
header>a:active,
.white,
.white:hover,
.white:active {
    color: #ffffff;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

.board_game {
    margin: 5px;
    min-height: 300px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
    border: 3px solid #bf0010;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    position: relative;
}

.board_game p {
    font-weight: 700;
    color: #43403d;
}

.board_game_body {
    padding: 10px;
}

.board_game .title_board_game {
    padding: 8px;
    text-align: center;
    font-size: 18px;
    min-height: 55px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #e60012;
    color: #ffffff;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

#filter {
    margin-top: 18px;
    background-color: #ffffff;
    border-radius: 10px;
}

#filter_header {
    padding: 8px;
    text-align: center;
    font-size: 18px;
    min-height: 55px;
    font-weight: 700;
    background-color: #3d3938;
    border-radius: 10px 10px 0px 0px;
    color: #ffffff;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

#filter_body {
    padding: 10px;
}

#filter_footer {
    padding: 10px;
    min-height: 55px;
    border-radius: 0px 0px 10px 10px;
    background-color: #d7c9c9;
}

.list_image.item {
    display: inline-block;
}

.list_image {
    float: left;
}

.ribbon_wish {
    position: absolute;
    background-color: #212529;
    left: 10px;
    top: -3px;
    filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.5));
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.ribbon_own {
    position: absolute;
    background-color: #212529;
    left: 63px;
    top: -3px;
    filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.5));
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.content {
    color: white;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    padding: 15px 2px 4px;
    min-height: 70px;
    width: 43px;
}